# Builds directory
builds/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

exercises/conor_finn/\.vscode/c_cpp_properties\.json

exercises/conor_finn/\.vscode/launch\.json

exercises/conor_finn/\.vscode/settings\.json

exercises/conor_finn/\.vscode/tasks\.json
